<div class="editPost ">
    <form class="editPost-form" data-id="{{postid}}">
        <div class="form-group">
            <h3> Edit Post </h2>
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-input" type="text" id="update-title" />
        </div>

        <div class="form-group">
            <label for="Content">Content</label>
            <textarea class="form-input" type="text" rows="5" id="update-content"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="update-post"> Update Post
            </button>
        </div>
    </form>


    <button class="btn btn-primary" type="click" id="delete-post" data-id="{{postid}}">  Delete
    </button>
</div>

<script src="../js/editPost.js"> </script>